<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Photo App</h1>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav opened="true" mode="side">
    <mat-nav-list>
    
        
        <a mat-list-item>
          <mat-icon class="fab-icon">home</mat-icon>
          Home
        </a>
      
      <a mat-list-item routerLink="list-photo" >
        <mat-icon class="fab-icon"> insert_photo</mat-icon>Photos
      </a>
      
      <a mat-list-item routerLink="list-collection">
        <mat-icon class="fab-icon">photo_album</mat-icon>
        Collections
      </a>
      
      <a mat-list-item routerLink="list-thought">
        <mat-icon class="fab-icon"> local_library</mat-icon>
        Thoughts
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height:88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>