
.card {
    max-width: 400px;
    margin-bottom: 8px;
    margin-left: 30px;
  }


   .fab-container {
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 999;
    cursor: pointer;    
  }

  .fab{
    background-color: #F44336;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: #F44336;
  color: white;
  }